= form_tag session_path do

  .form_input
    = label_tag :email, "Email"
    = text_field_tag :email

  .form_input
    = label_tag :password
    = password_field_tag :password
  
  %input{:type => "submit", :value => "Login"}

  - if defined? @user
    or
    = link_to 'Sign Up', new_account_path
