.sixteen.columns#slogan
  %h5 Build dungeons and populate them from your monster zoo.  Create a band of heroes to take over your enemies' dungeons.  Compete in the colosseum.  Buy and sell items, armor and weapons for your heroes.  Send heroes exploring to capture monsters for your zoo.

.eight.columns
  %h3 Login
  = render :partial => 'session/login_form'

.eight.columns
  %h3 Signup
  = render :partial => 'account/account_form'
