= form_tag account_path do

  .form_input
    = label :user, :username, "Username"
    = text_field :user, :username
    = error_message(@user, :username)

  .form_input
    = label :user, :email, "Email"
    = text_field :user, :email
    = error_message(@user, :email)

  .form_input
    = label :user, :password
    = password_field :user, :password
    = error_message(@user, :password)
  
  .form_input
    = label :user, :password_confirmation, "Confirm Password"
    = password_field :user, :password_confirmation

  %input{:type => "submit", :value => "Register"}

  - if defined? @user
    or
    = link_to 'Login', new_session_path
