!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title
      Dungeons - Logged In

  %body
    %h1 Account Overview
    %ul
      %li
        %a{:href => '/logout'} Logout
      %li
        %a{:href => '/dungeons'} Dungeons
      %li
        %a{:href => '/heroes'} Heroes

    = yield
